@font-face {
    font-family: Raleway-Regular;
url('Raleway-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

* {
    font-family: Raleway-Regular;
}

.logindiv
{
    border-radius: 8px;
    width: 350px;
    height: auto;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 0px;
    padding-top: 5px;
    background-color: #d1ffec;
}

.title
{
    font-size: 30px;
    font-weight: bold;
    color: blue;
    text-align: center;
    text-decoration: underline;
}

.logindivdiv
{
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 0px;
    padding-right: 10px;
    padding-left: 10px;
}

.login
{
    position: relative;
    padding: 7px;
    width: 310px;
    font-size: 18px;
    border-radius: 8px;
    border: none;
}

.loginbutton
{
    margin-right: 20px;
    margin-left: 20px;
    margin-bottom: 10px;
    padding-top: 10px;
    padding-bottom: 20px;
}

.submitdiv
{
    color: white;
    font-size: 18px;
    background-color: #75b1ff;
    width: 310px;
    border: none;
    border-radius: 8px;
}


.outerbox_register
{
    width: 500px;
    height: auto;
    margin: auto;
    padding: 10px;
    border: solid 1px #83ffcb;
    background-color: #d1ffec;
    border-radius: 8px;
    margin-top: 30px;
}

.title
{
    font-size: 30px;
    font-weight: bold;
    color: blue;
    text-align: center;
    margin-bottom: 10px;
    margin-top: 5px;
    text-decoration: underline;
}

.register_div
{
    margin-right: 10px;
    margin-left: 10px;
    padding: 5px 0 5px;
}

.register
{
    position: relative;
    padding: 7px;
    width: 99%;
    font-size: 18px;
    border-radius: 8px;
    border: none;
    margin-bottom: 5px;
}

.register1
{
    position: relative;
    padding: 7px;
    width: 99%;
    font-size: 18px;
    border-radius: 8px;
    border: none;
    margin-bottom: 5px;
}

.submit_div
{
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
    padding: 5px 0 5px;
}

.submit
{
    color: white;
    font-size: 18px;
    background-color: #75b1ff;
    width: 99%;
    border: none;
    border-radius: 8px;
}

.error
{
    font-size: 18px;
    text-align: center;
    color: red;
    font-weight: bold;
}

.dob {
    background-color: white;
    width: 32%;
    font-size: 16px;
    line-height: 1;
    border: 0;
    border-radius: 8px;
    height: 34px;
    padding-left: 5px;
    color: gray;
    -webkit-appearance: none;
}

.dob2 {
    background-color: white;
    width: 32%;
    font-size: 16px;
    line-height: 1;
    border: 0;
    border-radius: 8px;
    height: 34px;
    padding-left: 5px;
    margin-right: 3px;
    margin-left: 3px;
    color: gray;
    -webkit-appearance: none;
    margin-bottom: 5px;
}

.securityquestion {
    background-color: white;
    width: 99%;
    font-size: 16px;
    line-height: 1;
    border: 0;
    border-radius: 8px;
    height: 34px;
    padding-left: 5px;
    margin-right: 3px;
    margin-left: 0px;
    color: gray;
    -webkit-appearance: none;
    margin-bottom: 5px;
}


.outerbox_forgot
{
    width: 500px;
    height: auto;
    margin: auto;
    margin-top: 30px;
    padding: 10px;
    border: solid 1px #83ffcb;
    background-color: #d1ffec;
    border-radius: 8px;
}

.title
{
    font-size: 30px;
    font-weight: bold;
    color: blue;
    text-align: center;
    margin-bottom: 10px;
    margin-top: 5px;
    text-decoration: underline;
}

.forgot_div
{
    margin-right: 10px;
    margin-left: 10px;
    padding: 5px 0 5px;
}

.forgot
{
    position: relative;
    padding: 7px;
    width: 99%;
    font-size: 18px;
    border-radius: 8px;
    border: none;
    margin-bottom: 5px;
}

.forgot1
{
    position: relative;
    padding: 7px;
    width: 49%;
    font-size: 18px;
    border-radius: 8px;
    border: none;
    margin-bottom: 5px;
}

.forgot2
{
    position: relative;
    padding: 7px;
    width: 32%;
    font-size: 18px;
    border-radius: 8px;
    border: none;
    margin-bottom: 5px;
}

.forgot3
{
    position: relative;
    padding: 7px;
    width: 32%;
    font-size: 18px;
    border-radius: 8px;
    border: none;
    margin-bottom: 5px;
    padding-left: 5px;
    margin-right: 3px;
    margin-left: 3px;
}


.strength_meter{
    height:23px;
    width: 40%;
    background:silver;
    border-radius: 8px;
    display: inline-block;
    float: right;
    margin-right: 6px;
    margin-bottom: 5px;
}

.strength_meter div{
    height:23px;
    width:100%;
    display: inline-block;
    height:23px;
    text-align:center;
    color:black;
    font-weight:bold;
    line-height:23px;
    border-radius: 8px;
}

.veryweak{
    background-color: #FFA0A0;
    border-color: #F04040!important;
    border-radius: 8px;
}
.weak{
    background-color: #FFB78C;
    border-color: #FF853C!important;
    border-radius: 8px;
}
.medium{
    background-color: #FFEC8B;
    border-color: #FC0!important;
    border-radius: 8px;
}
.strong{
    background-color: #C3FF88;
    border-color: #8DFF1C!important;
    border-radius: 8px;
}